In [57]:
import numpy as np
import pandas as pd

In [244]:
a=['BND US Equity',
 'BNDX US Equity',
 'VBK US Equity',
 'VUG US Equity',
 'VBR US Equity',
 'VTV US Equity',
 'VEA US Equity',
 'VWO US Equity']
b=['US Bonds',
 'Intnl Bonds',
 'US Large Growth',
 'US Large Value',
 'US Small Growth',
 'US Small Value',
 'Intnl Dev Equity',
 'Intnl Emerg Equity']
column_names = {n:name for (n,name) in zip(a,b)}

In [59]:
# etf=pd.read_csv('/Volumes/GoogleDrive/我的雲端硬碟/Python on cloud/FIM590-001/Final Project/Index data.csv')
# ff3=pd.read_csv('/Volumes/GoogleDrive/我的雲端硬碟/Python on cloud/FIM590-001/Final Project/FF3.csv')
# test=pd.read_csv('/Volumes/GoogleDrive/我的雲端硬碟/Python on cloud/FIM590-001/Final Project/rf.csv')
# mktcap=pd.read_csv('/Volumes/GoogleDrive/我的雲端硬碟/Python on cloud/FIM590-001/Final Project/mktcap.csv')
etf=pd.read_csv('C:/Users/jessi/Python/FIM590-001/Final Project/Index data.csv').rename(columns=column_names)
ff3=pd.read_csv('C:/Users/jessi/Python/FIM590-001/Final Project/FF3.csv')
test=pd.read_csv('C:/Users/jessi/Python/FIM590-001/Final Project/rf.csv')
mktcap=pd.read_csv('C:/Users/jessi/Python/FIM590-001/Final Project/mktcap.csv').rename(columns=column_names)

etf['DATES']=pd.to_datetime(etf['DATES'])
ff3['DATES']=pd.to_datetime(ff3['DATES'])
test['DATES']=pd.to_datetime(test['DATES'])
mktcap['DATES']=pd.to_datetime(mktcap['DATES'])

etf.head()

,DATES,US Bonds,Intnl Bonds,US Large Growth,US Large Value,US Small Growth,US Small Value,Intnl Dev Equity,Intnl Emerg Equity
0,2001-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2001-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2001-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2001-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
# # find annualized FF3
# a=ff3.iloc[np.where(ff3['DATES']>'2013-12-31')[0],:].reset_index(drop=True).set_index('DATES')*0.01
# A_FF3=(a+1)**12-1
# A_FF3

In [61]:
etf=etf.dropna()
etf_price=etf.iloc[np.where(etf['DATES']>'2013-12-30')[0],:].reset_index(drop=True).set_index('DATES')
etf_RET=etf_price.pct_change().dropna()
etf_C_RET=(etf_RET+1).cumprod()-1
# Assume Rf=2% annualized
rf=0.02
rf_day=(1+rf)**(1/252)-1
etf_excess_RET=etf_RET-rf_day
etf_C_excessRET=(etf_excess_RET+1).cumprod()-1
etf_C_excessRET

,US Bonds,Intnl Bonds,US Large Growth,US Large Value,US Small Growth,US Small Value,Intnl Dev Equity,Intnl Emerg Equity
DATES,,,,,,,,
2014-01-02,0.000796,0.000324,-0.009972,-0.008891,-0.010965,-0.009242,-0.016873,-0.035081
2014-01-03,0.000842,-0.000560,-0.004736,-0.011763,-0.007654,-0.008404,-0.016711,-0.036372
2014-01-06,0.001638,0.001779,-0.011191,-0.016031,-0.014098,-0.009398,-0.018707,-0.045683
2014-01-07,0.002808,0.004118,-0.002276,-0.008587,-0.007399,-0.004502,-0.013027,-0.041870
2014-01-08,-0.000518,0.001622,0.000098,-0.006946,-0.006758,-0.005366,-0.013345,-0.043646
...,...,...,...,...,...,...,...,...
2021-12-27,-0.094771,-0.047580,0.978610,1.983245,0.565453,0.638289,0.049044,0.023998
2021-12-28,-0.094949,-0.047999,0.961698,1.969705,0.566558,0.642296,0.048962,0.020390
2021-12-29,-0.098006,-0.051860,0.964616,1.970572,0.571608,0.645520,0.048675,0.015951
2021-12-30,-0.096051,-0.051074,0.971931,1.958595,0.566575,0.643268,0.046135,0.028944
2021-12-31,-0.096335,-0.051148,0.966750,1.943866,0.567855,0.643809,0.045643,0.026166

In [62]:
# Calculate for weights
etf_mktcap=mktcap.iloc[np.where(mktcap['DATES']>'2013-12-31')[0],:].reset_index(drop=True).set_index('DATES')
etf_mktcap=etf_mktcap.dropna()
etf_weights=etf_mktcap.copy()
for i in range(etf_mktcap.shape[0]):
    etf_weights.iloc[i,:]=etf_weights.iloc[i,:]/np.sum(etf_mktcap,axis=1)[i]

In [63]:
etf_C_excessRET

,US Bonds,Intnl Bonds,US Large Growth,US Large Value,US Small Growth,US Small Value,Intnl Dev Equity,Intnl Emerg Equity
DATES,,,,,,,,
2014-01-02,0.000796,0.000324,-0.009972,-0.008891,-0.010965,-0.009242,-0.016873,-0.035081
2014-01-03,0.000842,-0.000560,-0.004736,-0.011763,-0.007654,-0.008404,-0.016711,-0.036372
2014-01-06,0.001638,0.001779,-0.011191,-0.016031,-0.014098,-0.009398,-0.018707,-0.045683
2014-01-07,0.002808,0.004118,-0.002276,-0.008587,-0.007399,-0.004502,-0.013027,-0.041870
2014-01-08,-0.000518,0.001622,0.000098,-0.006946,-0.006758,-0.005366,-0.013345,-0.043646
...,...,...,...,...,...,...,...,...
2021-12-27,-0.094771,-0.047580,0.978610,1.983245,0.565453,0.638289,0.049044,0.023998
2021-12-28,-0.094949,-0.047999,0.961698,1.969705,0.566558,0.642296,0.048962,0.020390
2021-12-29,-0.098006,-0.051860,0.964616,1.970572,0.571608,0.645520,0.048675,0.015951
2021-12-30,-0.096051,-0.051074,0.971931,1.958595,0.566575,0.643268,0.046135,0.028944
2021-12-31,-0.096335,-0.051148,0.966750,1.943866,0.567855,0.643809,0.045643,0.026166

# Table 1:

## Column 1 -

In [139]:
# 2014 to 2021: 8 years
col1_1=((etf_C_excessRET.iloc[-1:,:]+1)**(1/8)-1)*100
col1_1
# 這邊單位是(%)

,US Bonds,Intnl Bonds,US Large Growth,US Large Value,US Small Growth,US Small Value,Intnl Dev Equity,Intnl Emerg Equity
DATES,,,,,,,,
2021-12-31,-1.258226,-0.654137,8.822487,14.449727,5.782352,6.409749,0.559456,0.323394

In [140]:
weighted_average = np.mean(col1_1.iloc[-1:,:]*etf_weights.iloc[-1:,:],axis=1)
weighted_average[0]

0.49158538386232475

In [146]:
col1_1.T.describe()

DATES  2021-12-31
count    8.000000
mean     4.304350
std      5.546692
min     -1.258226
25%      0.079011
50%      3.170904
75%      7.012933
max     14.449727

## Column 2 -

In [67]:
globaletf=pd.read_csv('C:/Users/jessi/Python/FIM590-001/Final Project/Global Market index etf.csv')
globaletf['DATES']=pd.to_datetime(globaletf['DATES'])
globaletf=globaletf.dropna()
globaletf_data=globaletf.iloc[np.where(globaletf['DATES']>'2013-12-30')[0],:].reset_index(drop=True).set_index('DATES')

g_price = globaletf_data.iloc[:,:1]
g_cap = globaletf_data.iloc[:,1:]
g_RET=g_price.pct_change().dropna()
g_C_RET=(g_RET+1).cumprod()-1
# Assume Rf=2% annualized
rf=0.02
rf_day=(1+rf)**(1/252)-1
g_excess_RET=g_RET-rf_day
g_C_excess_RET=(g_excess_RET+1).cumprod()-1
g_C_excess_RET

            VT index
DATES
2014-01-02 -0.014893
2014-01-03 -0.013994
2014-01-06 -0.016731
2014-01-07 -0.012264
2014-01-08 -0.012174
...              ...
2021-12-27  0.550869
2021-12-28  0.549022
2021-12-29  0.549475
2021-12-30  0.548060
2021-12-31  0.543771

[2015 rows x 1 columns]

In [142]:
# 2014 to 2021: 8 years
col1_2=(((etf_C_excessRET.iloc[-1:,:]+1)**(1/8)-1)-((g_C_excess_RET.iloc[-1,:]+1)**(1/8)-1)[0])*100
col1_2

,US Bonds,Intnl Bonds,US Large Growth,US Large Value,US Small Growth,US Small Value,Intnl Dev Equity,Intnl Emerg Equity
DATES,,,,,,,,
2021-12-31,-6.836084,-6.231995,3.244629,8.871869,0.204495,0.831891,-5.018402,-5.254464

In [143]:
weighted_average = np.mean(col1_2.iloc[-1:,:]*etf_weights.iloc[-1:,:],axis=1)
weighted_average[0]

-0.20564685819151932

In [144]:
col1_2.T.describe()

DATES  2021-12-31
count    8.000000
mean    -1.273508
std      5.546692
min     -6.836084
25%     -5.498847
50%     -2.406954
75%      1.435075
max      8.871869

## Column 3&4 -

In [ ]:
'''
Implied Excess Equilibrium Return = lambda*sigma*weights
lambda: risk aversion coefficient. We can use 'Sharpe ratio' to represent it. (Scalar)
sigma: covariance matrix (NxN)
weights: market capitalization weight (Nx1)
'''

In [165]:
temp=pd.Series(np.sum(etf_RET.iloc[:]*etf_weights.iloc[:],axis=1),name='value weighted portfolio')
VWP=pd.DataFrame(data=temp)
rf=0.02
rf_day=(1+rf)**(1/252)-1
Lambda=(np.mean(VWP.iloc[:,0])-rf_day)/np.var(VWP.iloc[:,0])

In [166]:
Lambda

2.6982793817345425

In [167]:
# Based on investopedia 
cov_matrix=(etf_RET*100).cov()
cov_matrix

,US Bonds,Intnl Bonds,US Large Growth,US Large Value,US Small Growth,US Small Value,Intnl Dev Equity,Intnl Emerg Equity
US Bonds,0.080525,0.036823,0.009944,0.010960,-0.004487,-0.008426,0.009037,0.014710
Intnl Bonds,0.036823,0.048131,0.015260,0.014102,0.001715,0.000123,0.005507,0.011966
US Large Growth,0.009944,0.015260,1.652242,1.368211,1.502398,1.153529,1.118668,1.204540
US Large Value,0.010960,0.014102,1.368211,1.390425,1.196369,1.067991,1.036055,1.138719
US Small Growth,-0.004487,0.001715,1.502398,1.196369,1.741409,1.304408,1.169264,1.173892
US Small Value,-0.008426,0.000123,1.153529,1.067991,1.304408,1.167969,1.001874,1.010103
Intnl Dev Equity,0.009037,0.005507,1.118668,1.036055,1.169264,1.001874,1.154753,1.165739
Intnl Emerg Equity,0.014710,0.011966,1.204540,1.138719,1.173892,1.010103,1.165739,1.640195

In [168]:
weights=etf_weights.iloc[-1:,:]
weights

,US Bonds,Intnl Bonds,US Large Growth,US Large Value,US Small Growth,US Small Value,Intnl Dev Equity,Intnl Emerg Equity
DATES,,,,,,,,
2021-12-31,0.153697,0.083518,0.029942,0.16522,0.049043,0.169309,0.200746,0.148524

In [173]:
Col1_4=Lambda*np.dot(cov_matrix,weights.T)
pd.DataFrame(data=Col1_4.T,columns=b)
# 這邊單位是(%)

,US Bonds,Intnl Bonds,US Large Growth,US Large Value,US Small Growth,US Small Value,Intnl Dev Equity,Intnl Emerg Equity
0,0.05373,0.041699,2.565491,2.401904,2.583419,2.219537,2.262359,2.519339

# Table 2:

In [ ]:
'''
Inverse method:
weights=(lambda*sigma)^-1*Implied Excess Equilibrium Return
lambda: risk aversion coefficient. We can use 'Sharpe ratio' to represent it. (Scalar)
sigma: covariance matrix (NxN)
weights: market capitalization weight (Nx1)
'''

## Column 1 -

In [174]:
Col2_1=np.dot(np.linalg.inv(Lambda*cov_matrix),col1_1.T)
pd.DataFrame(data=Col2_1.T,columns=b)
# 這邊paper裡的+起來也沒有=1 超怪

,US Bonds,Intnl Bonds,US Large Growth,US Large Value,US Small Growth,US Small Value,Intnl Dev Equity,Intnl Emerg Equity
0,-4.669827,-2.720012,-8.731558,18.103951,6.463492,-4.13015,-8.26685,-2.228566

## Column 2 -

In [175]:
Col2_2=np.dot(np.linalg.inv(Lambda*cov_matrix),col1_2.T)
pd.DataFrame(data=Col2_2.T,columns=b)

,US Bonds,Intnl Bonds,US Large Growth,US Large Value,US Small Growth,US Small Value,Intnl Dev Equity,Intnl Emerg Equity
0,-14.392365,-38.666965,-8.265158,19.037824,7.421062,-7.877751,-9.217924,-1.831761

## Column 3&4 -

In [181]:
pd.DataFrame(data=weights,columns=b)*100
# 這邊單位是(%)

,US Bonds,Intnl Bonds,US Large Growth,US Large Value,US Small Growth,US Small Value,Intnl Dev Equity,Intnl Emerg Equity
DATES,,,,,,,,
2021-12-31,15.369731,8.351774,2.994212,16.521997,4.904344,16.930878,20.074629,14.852435

# Table 3:

In [191]:
# Based on view 3 in paper:
outperform=['US Large Growth','US Small Growth']
underperform=['US Large Value','US Small Value']

In [221]:
Col3a_1=etf_mktcap.iloc[-1:,:][outperform]
Col3a_2=Col3a_1/(np.sum(Col3a_1,axis=1)[0])
Col3a_3=pd.DataFrame(data=Col1_4.T,columns=b)[outperform]
Col3a_4=Col3a_2.iloc[0,0:2]*Col3a_3.iloc[0,0:2]

In [246]:
table3a=pd.concat([Col3a_1.T,Col3a_2.T,Col3a_3.T,Col3a_4],axis=1)
table3a.columns=['Market Capitalization', 'Relative Weight ', 'Return', 'Weighted Return']
table3a

,Market Capitalization,Relative Weight,Return,Weighted Return
US Large Growth,1.639680e+10,0.379083,2.565491,0.972535
US Small Growth,2.685700e+10,0.620917,2.583419,1.604087

In [245]:
Col3b_1=etf_mktcap.iloc[-1:,:][underperform]
Col3b_2=Col3b_1/(np.sum(Col3b_1,axis=1)[0])
Col3b_3=pd.DataFrame(data=Col1_4.T,columns=b)[underperform]
Col3b_4=Col3b_2.iloc[0,0:2]*Col3b_3.iloc[0,0:2]

In [247]:
table3b=pd.concat([Col3b_1.T,Col3b_2.T,Col3b_3.T,Col3b_4],axis=1)
table3b.columns=['Market Capitalization', 'Relative Weight ', 'Return', 'Weighted Return']
table3b

,Market Capitalization,Relative Weight,Return,Weighted Return
US Large Value,9.047720e+10,0.493889,2.401904,1.186273
US Small Value,9.271630e+10,0.506111,2.219537,1.123333

# Table 5:

In [96]:
cov_matrix=etf_RET.cov()
cov_matrix

,US Bonds,Intnl Bonds,US Large Growth,US Large Value,US Small Growth,US Small Value,Intnl Dev Equity,Intnl Emerg Equity
US Bonds,8.052525e-06,3.682307e-06,9.943977e-07,0.000001,-4.487385e-07,-8.426381e-07,9.037389e-07,0.000001
Intnl Bonds,3.682307e-06,4.813080e-06,1.526048e-06,0.000001,1.715433e-07,1.232456e-08,5.506982e-07,0.000001
US Large Growth,9.943977e-07,1.526048e-06,1.652242e-04,0.000137,1.502398e-04,1.153529e-04,1.118668e-04,0.000120
US Large Value,1.095960e-06,1.410233e-06,1.368211e-04,0.000139,1.196369e-04,1.067991e-04,1.036055e-04,0.000114
US Small Growth,-4.487385e-07,1.715433e-07,1.502398e-04,0.000120,1.741409e-04,1.304408e-04,1.169264e-04,0.000117
US Small Value,-8.426381e-07,1.232456e-08,1.153529e-04,0.000107,1.304408e-04,1.167969e-04,1.001874e-04,0.000101
Intnl Dev Equity,9.037389e-07,5.506982e-07,1.118668e-04,0.000104,1.169264e-04,1.001874e-04,1.154753e-04,0.000117
Intnl Emerg Equity,1.470979e-06,1.196608e-06,1.204540e-04,0.000114,1.173892e-04,1.010103e-04,1.165739e-04,0.000164